body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #e6f0ff, #ffffff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-container {
  width: 100%;
  max-width: 550px;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #003366; 
  margin-bottom: 25px;
  font-size: 2.2rem;
}
.quiz-box {
  background-color: #f2f2f2; 
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.question {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: 600;
  color: black;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}
.btn-area {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  flex: 1;
  margin: 0 5px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: rgb(22, 128, 157);
  color: black;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a71051;
}
#result {
  margin-top: 30px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
  background-color: rgb(22, 128, 157);
  padding: 10px;
  border-radius: 8px;
}
